apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: default
  labels:
    app: prometheus
spec:
  type: NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30090  # Access Prometheus at http://localhost:30090
      protocol: TCP
      name: web
  selector:
    app: prometheus
