apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: default
  labels:
    app: grafana
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300  # Access Grafana at http://localhost:30300
      protocol: TCP
      name: web
  selector:
    app: grafana
